@import "../Common/common.module.css";
.statistics{
    margin: var(--margin-component);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
.statistics :first-child{
    border-radius: 0 0 0 var(--border-radius) ;
}
.statistics :last-child{
    border-radius:  0 0 var(--border-radius) 0;
}

.title{
    font-size: 1em;
    margin: 1em auto;
}
.stat-list{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.item{
    color: var(--bg-regular);
    width: 3em;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-highlighted);
}
.label{
    font-size: 0.7em;
}
/* .percentage{} */