@import "../Common/common.module.css";
.statistics{
    margin: var(--margin-component);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
.statistics :first-child{
    border-radius: 0 0 0 var(--border-radius) ;
}
.statistics :last-child{
    border-radius:  0 0 var(--border-radius) 0;
}

.title{
    font-size: 1em;
    margin: 1em auto;
}
.stat-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--bg-highlighted);
}
.item{
    color: var(--bg-regular);
    width: 3em;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.label{
    font-size: 0.7em;
}
#id-1{
    background-color: var(--color-variant1);
}
#id-2{
    background-color: var(--color-variant2);
}
#id-3{
    background-color: var(--color-variant3);
}
#id-4{
    background-color: var(--color-variant4);
}
#id-5{
    background-color: var(--color-variant5);
}
#id-6{
    background-color: var(--color-variant6);
}